* {
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {}

.nav-home {
    background-image: url('../images/illustration.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150px;

    .nav-link {
        p {
            font-family: 'Inter',
                sans-serif;
            font-weight: 400;
            color: white;
            font-size: 14px;
            padding-right: 10px;
        }
    }

    .content1 {
        h1 {
            font-family: 'Poppins',
                sans-serif;
            font-weight: 500;
            color: white;
            font-size: 35pt;
        }

        p {
            font-family: 'Inter',
                sans-serif;
            font-weight: 300;
            color: white;
            font-size: 16px;
            padding-right: 10px;
        }

        .btn-content {
            width: 180px;
            height: 40px;
            font-family: 'Inter',
                sans-serif;
            font-weight: 400;
            color: black;
            font-size: 12px;
            text-align: left;
            border-radius: 8px;
        }

        .bi-arrow-right {
            color: rgb(47, 201, 239);
            padding-left: 3px;
            width: 25px;
        }
    }
}

.aplikasi {

    font-family: 'Poppins',
        sans-serif;
    font-weight: 400;
    color: black;
    font-size: 26px;
    text-align: center;

}

.card-2 {
    background-image: url('../images/ruan.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 500px !important;

    .card {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.21);
        border-radius: 10px;


        .card-body {
            h5 {
                font-family: 'Poppins',
                    sans-serif;
                font-weight: 700;
                color: black;
                font-size: 16px;
            }

            p {

                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                color: black;
                font-size: 12px;
                line-height: 20px;

            }
        }
    }

    .btn-hub {
        background-color: #2fc9ef;
        width: 150px;
        height: 40px;
        border-radius: 8px;
        text-align: center;

        p {
            padding: auto;
            font-family: 'Inter',
                sans-serif;
            font-weight: 700;
            color: rgb(255, 255, 255);
            font-size: 14px;
        }
    }

    .demo {
        background-color: #5fd0fa;
        border-radius: 10px;

        h2 {
            color: white;
            font-family: 'Poppins',
                sans-serif;
            font-weight: 200;
            color: white;
            font-size: 18px;
            text-align: center;
        }
    }
}


.kirimPesan {
    background-image: url('../images/Rectangle\ 2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}